
<div class="wrapper">
  <header class="my_sidebar">

    <h1>Janet Malzahn</h1
    <p></p>

    <p style="color:#9e1b65;font-weight:bold">Predoc, Stanford Institute for Economic Policy Research</p>


<div class="center"><img src="/images/jmalzahn_headshot.jpg" height="200" width="200" /></div>

    <p></p>
    <p>My research explores the political economy of climate change and elections using causal inference techniques. I am currently a predoctoral research fellow at the Stanford Institute for Economic Policy Research and previously have worked for Resources for the Future, the Urban Institute, and the American Economics Association. In 2021, I graduated from Cornell University with a B.A. in Government and Economics.
  </p>

        <hr width="75%">


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="one-row centered">
      <div class="is-inset-8"><a target="_blank" href="https://github.com/janetmalzahn" style="color:#9e1b65" class="is-icon"><i class="fa fa-github fa-2x"></i></a></div>
      <div class="is-inset-8"><a target="_blank" href="https://www.linkedin.com/in/janet-malzahn/" style="color:#9e1b65" class="is-icon"><i class="fa fa-linkedin-square fa-2x"></i></a></div>
      <div class="is-inset-8"><a target="_blank" href="mailto: jmalzahn@stanford.edu" style="color:#9e1b65" class="is-icon"><i class="fa fa-envelope fa-2x"></i></a></div>
    </div>
    <p></p>

  </header>
</div>